<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>66141110849-ciqjbqab42qec38i6082eijgb5vuhk17.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.66141110849-ciqjbqab42qec38i6082eijgb5vuhk17</string>
	<key>API_KEY</key>
	<string>AIzaSyAqGdpJVfUsWiBqLK5JMb5gsvQdaDLNQnA</string>
	<key>GCM_SENDER_ID</key>
	<string>66141110849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.morith.HayaTan</string>
	<key>PROJECT_ID</key>
	<string>hayatanproject</string>
	<key>STORAGE_BUCKET</key>
	<string>hayatanproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:66141110849:ios:d7ce503d73587bb5c9bcc0</string>
</dict>
</plist>